//- player-info.pug
include ../partials/header.pug
include ../partials/menu.pug

div.container
  br
  div.row
    div.col-4
      div.card
        //- TODO: Modify the pug code below to conditionally set the image_src
        - let image_src = '../../resources/img/helmet.jpg'
        - if(result_1)
          if(result_1[0].img_src)
            - image_src=result_1[0].img_src

      img.card-img-top#player_img(src= image_src, alt="Football Player")
      div.card-body.mx-auto
        form.form(action="/player_info/select_player", method="get")
          select.custom-select(name="player_choice", onchange="this.form.submit()")
            option(selected) Select Player
            //- TODO: Populate the select with player options. Set the value to the player's id and display the player's name.
            - if(data)
              for item in data
                option(value= item.id)=item.name
    div.col-8
      div.table-responsive
        table.table
          //- TODO: Set the player's information. On select, fill in the player's information in each of the field below. You will need to calculate the average rushing, receiving, and passing yards.
          tr
            th Year
            - if(result_1)
              td=result_1[0].year
          tr
            th Major
            - if(result_1)
              td=result_1[0].major
          tr
            th Games Played
            - if(result_1)
              td=result_3[0].count
          tr
            td Passing Yards:
            - if(result_1)
              td=result_1[0].passing_yards
            td Avg. Passing Yards:
            - if(result_1 && result_3)
              td= result_1[0].passing_yards / result_3[0].count
          tr
            td Rushing Yards:
            - if(result_1)
              td=result_1[0].rushing_yards 
            td Avg. Rushing Yards:
            - if(result_1 && result_3)
              td= result_1[0].rushing_yards / result_3[0].count
          tr
            td Receiving Yards:
            - if(result_1)
              td=result_1[0].receiving_yards
            td Avg. Receiving Yards:
            - if(result_1 && result_3)
              td= result_1[0].receiving_yards / result_3[0].count

include ../partials/footer.pug